In [44]:
import pandas as pd

# Load input file in csv format

In [45]:
infile = "../vn_data/input/per_gene/TARDBP.chr1.csv"

In [46]:
outfile = "../vn_data/output/per_gene/TARDBP.chr1.csv"

In [47]:
df = pd.read_csv(infile)

# Check data frame content

In [48]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,0|1,0|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [49]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [50]:
df.shape

(70, 108)

# Extract a smaller data frame to debug and manually verify

In [51]:
#df = df.iloc[0:5,0:15]

In [52]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,0|1,0|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,11029406,.,T,A,.,PASS,AC=4266;AN=5096;DP=13102;AF=0.84;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1
66,1,11030023,.,T,C,.,PASS,AC=1;AN=5096;DP=78750;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
67,1,11030028,.,A,C,.,PASS,AC=1;AN=5096;DP=82812;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
68,1,11030470,.,A,G,.,PASS,AC=1;AN=5096;DP=49869;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
69,1,11030504,.,GTTAAA,G,.,PASS,AC=5;AN=5096;DP=45986;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [53]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [54]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [55]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,0|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1,15
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1,3
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98

In [56]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [57]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1,15,21
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,1
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,0|1,1|1,0|1,1|1,1|1,1|1,1|0,1|1,3,12
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0

In [58]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [59]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,1|1,0|1,1|1,1|1,1|1,1|0,1|1,15,21,27
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,1,1
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,0|1,1|1,1|1,1|1,1|0,1|1,3,12,16
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1

In [60]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [61]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,0|1,1|1,1|1,1|1,1|0,1|1,15,21,27,36
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,1,1,0
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,0|1,1|1,1|1,1|1,1|0,1|1,3,12,16,68
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,0,1,0

# Create a new column for the count of the number of 1's

In [62]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [63]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,15,21,27,36,120
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,3,12,16,68,164
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1

In [64]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,1,11012828,.,C,T,.,PASS,AC=2972;AN=5096;DP=15835;AF=0.58;EAS_AF=0.66;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,15,21,27,36,120
1,1,11012865,.,C,G,.,PASS,AC=2;AN=5096;DP=15710;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,1,1,0,2
2,1,11013450,.,TCA,T,.,PASS,AC=3513;AN=5096;DP=28001;AF=0.69;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,3,12,16,68,164
3,1,11013660,.,A,G,.,PASS,AC=1;AN=5096;DP=85803;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,1,11013784,.,A,G,.,PASS,AC=1;AN=5096;DP=244101;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,1,11029406,.,T,A,.,PASS,AC=4266;AN=5096;DP=13102;AF=0.84;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,1|1,1|0,1|1,3,12,16,68,164
66,1,11030023,.,T,C,.,PASS,AC=1;AN=5096;DP=78750;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
67,1,11030028,.,A,C,.,PASS,AC=1;AN=5096;DP=82812;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
68,1,11030470,.,A,G,.,PASS,AC=1;AN=5096;DP=49869;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
69,1,11030504,.,GTTAAA,G,.,PASS,AC=5;AN=5096;DP=45986;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1

# Save the output file to output folder

In [65]:
df.to_csv(outfile, index=False)