In [1]:
import pandas as pd

In [2]:
infile = "../vn_data/count_output/per_gene/FUS.chr16.csv"

In [3]:
outfile = "../vn_data/info_output/per_gene/FUS.chr16.csv"

In [4]:
infile

'../vn_data/count_output/per_gene/FUS.chr16.csv'

In [5]:
df = pd.read_csv(infile)

In [6]:
df.shape

(44, 113)

In [7]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,0|0,0|0,0|0,0|0,1|1,48,24,19,8,59
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,2,1,0,3

# Check several rows, and INFO column

In [8]:
df.loc[0:2, "INFO"]

0    AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...
1    AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...
2    AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...
Name: INFO, dtype: object

# Filter a sub dataframe to make it easier for debugging

In [9]:
#df = df.loc[0:5, ["POS", "REF", "ALT", "INFO"]]

In [10]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,0|0,0|0,0|0,0|0,1|1,48,24,19,8,59
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,96,2,1,0,3

# Step 1: Split the INFO field into a dictionary

In [11]:
series = df['INFO'].str.split(';')

In [12]:
series

0     [AC=4793, AN=5096, DP=128343, AF=0.94, EAS_AF=...
1     [AC=1, AN=5096, DP=102255, AF=0, EAS_AF=0, EUR...
2     [AC=4763, AN=5096, DP=14178, AF=0.93, EAS_AF=1...
3     [AC=1577, AN=5096, DP=16362, AF=0.31, EAS_AF=0...
4     [AC=4, AN=5096, DP=22545, AF=0, EAS_AF=0, EUR_...
5     [AC=33, AN=5096, DP=21993, AF=0.01, EAS_AF=0.0...
6     [AC=1, AN=5096, DP=350372, AF=0, EAS_AF=0, EUR...
7     [AC=1420, AN=5096, DP=345856, AF=0.28, EAS_AF=...
8     [AC=106, AN=5096, DP=28450, AF=0.02, EAS_AF=0....
9     [AC=1, AN=5096, DP=24460, AF=0, EAS_AF=0, EUR_...
10    [AC=1, AN=5096, DP=362768, AF=0, EAS_AF=0, EUR...
11    [AC=1, AN=5096, DP=55948, AF=0, EAS_AF=0, EUR_...
12    [AC=1452, AN=5096, DP=91564, AF=0.28, EAS_AF=0...
13    [AC=1450, AN=5096, DP=138461, AF=0.28, EAS_AF=...
14    [AC=4, AN=5096, DP=276346, AF=0, EAS_AF=0, EUR...
15    [AC=1, AN=5096, DP=188330, AF=0, EAS_AF=0, EUR...
16    [AC=1, AN=5096, DP=191584, AF=0, EAS_AF=0, EUR...
17    [AC=7, AN=5096, DP=175954, AF=0, EAS_AF=0.01, ...
18    [AC=1, AN=5096, DP=22694, AF=0, EAS_AF=0, EUR_...
19    [AC=1, AN=5096, DP=23302, AF=0, EAS_AF=0, EUR_...
20    [AC=1, AN=5096, DP=29629, AF=0, EAS_AF=0, EUR_...
21    [AC=1, AN=5096, DP=29718, AF=0, EAS_AF=0, EUR_...
22    [AC=5091, AN=5096, DP=26099, AF=1, EAS_AF=1, E...
23    [AC=6, AN=5096, DP=31901, AF=0, EAS_AF=0.01, E...
24    [AC=1, AN=5096, DP=31034, AF=0, EAS_AF=0, EUR_...
25    [AC=33, AN=5096, DP=306661, AF=0.01, EAS_AF=0....
26    [AC=1, AN=5096, DP=110368, AF=0, EAS_AF=0, EUR...
27    [AC=1, AN=5096, DP=84260, AF=0, EAS_AF=0, EUR_...
28    [AC=1, AN=5096, DP=324646, AF=0, EAS_AF=0, EUR...
29    [AC=1, AN=5096, DP=277792, AF=0, EAS_AF=0, EUR...
30    [AC=1131, AN=5096, DP=277792, AF=0.22, EAS_AF=...
31    [AC=1, AN=5096, DP=310799, AF=0, EAS_AF=0, EUR...
32    [AC=1, AN=5096, DP=22236, AF=0, EAS_AF=0, EUR_...
33    [AC=1433, AN=5096, DP=23158, AF=0.28, EAS_AF=0...
34    [AC=83, AN=5096, DP=22751, AF=0.02, EAS_AF=0, ...
35    [AC=6, AN=5096, DP=21407, AF=0, EAS_AF=0, EUR_...
36    [AC=2, AN=5096, DP=22473, AF=0, EAS_AF=0, EUR_...
37    [AC=1, AN=5096, DP=20194, AF=0, EAS_AF=0, EUR_...
38    [AC=3, AN=5096, DP=20006, AF=0, EAS_AF=0, EUR_...
39    [AC=5051, AN=5096, DP=23676, AF=0.99, EAS_AF=1...
40    [AC=2, AN=5096, DP=21713, AF=0, EAS_AF=0, EUR_...
41    [AC=18, AN=5096, DP=18884, AF=0, EAS_AF=0, EUR...
42    [AC=1, AN=5096, DP=21798, AF=0, EAS_AF=0, EUR_...
43    [AC=1, AN=5096, DP=16656, AF=0, EAS_AF=0, EUR_...
Name: INFO, dtype: object

In [13]:
type(series)

pandas.core.series.Series

In [14]:
ll = list()
for i, elem in enumerate (series):
    d=dict()
    for item in elem:
       if "=" in item:
           k,v = item.split("=")
       else:
           k,v = item, None
           print (i, elem, "Assign None")

       d[f"INFO:{k}"]= v
    # print(d)
    ll.append(d)
    #print(ll)
    # break

0 ['AC=4793', 'AN=5096', 'DP=128343', 'AF=0.94', 'EAS_AF=1', 'EUR_AF=1', 'AFR_AF=0.79', 'AMR_AF=0.98', 'SAS_AF=1', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
1 ['AC=1', 'AN=5096', 'DP=102255', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
6 ['AC=1', 'AN=5096', 'DP=350372', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
7 ['AC=1420', 'AN=5096', 'DP=345856', 'AF=0.28', 'EAS_AF=0.25', 'EUR_AF=0.31', 'AFR_AF=0.03', 'AMR_AF=0.36', 'SAS_AF=0.56', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
10 ['AC=1', 'AN=5096', 'DP=362768', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
14 ['AC=4', 'AN=5096', 'DP=276346', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
15 ['AC=1', 'AN=5096', 'DP=188330', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
16 ['AC=1', 'AN=5096', 'DP=191584', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
17 ['AC=7', 'AN=5096', 'DP=175954', 'AF=0', 'EAS_AF=0.01', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
28 ['AC=1', 'AN=5096', 'DP=324646', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
29 ['AC=1', 'AN=5096', 'DP=277792', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None
30 ['AC=1131', 'AN=5096', 'DP=277792', 'AF=0.22', 'EAS_AF=0.15', 'EUR_AF=0.2', 'AFR_AF=0.26', 'AMR_AF=0.24', 'SAS_AF=0.24', 'EX_TARGET', 'VT=INDEL', 'NS=2548'] Assign None
31 ['AC=1', 'AN=5096', 'DP=310799', 'AF=0', 'EAS_AF=0', 'EUR_AF=0', 'AFR_AF=0', 'AMR_AF=0', 'SAS_AF=0', 'EX_TARGET', 'VT=SNP', 'NS=2548'] Assign None

In [15]:
len (ll)

44

In [16]:
ll[0]

{'INFO:AC': '4793',
 'INFO:AN': '5096',
 'INFO:DP': '128343',
 'INFO:AF': '0.94',
 'INFO:EAS_AF': '1',
 'INFO:EUR_AF': '1',
 'INFO:AFR_AF': '0.79',
 'INFO:AMR_AF': '0.98',
 'INFO:SAS_AF': '1',
 'INFO:EX_TARGET': None,
 'INFO:VT': 'SNP',
 'INFO:NS': '2548'}

# Step 2: Convert dictionary list to a DataFrame

In [17]:

info_df = pd.DataFrame(ll)

In [18]:
info_df.shape

(44, 12)

# Check the info data frame

In [19]:
info_df.head()

,INFO:AC,INFO:AN,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:EX_TARGET,INFO:VT,INFO:NS
0,4793,5096,128343,0.94,1,1,0.79,0.98,1,NaN,SNP,2548
1,1,5096,102255,0,0,0,0,0,0,NaN,SNP,2548
2,4763,5096,14178,0.93,1,1,0.76,0.98,1,NaN,SNP,2548
3,1577,5096,16362,0.31,0.26,0.32,0.12,0.37,0.57,NaN,INDEL,2548
4,4,5096,22545,0,0,0,0,0,0,NaN,SNP,2548

In [20]:
df.shape

(44, 113)

In [21]:
info_df.shape

(44, 12)

# Step 3: Merge with original DataFrame

In [22]:

df_final = pd.concat([df, info_df], axis=1)

In [23]:
df_final.shape

(44, 125)

In [24]:
df_final.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:EX_TARGET,INFO:VT,INFO:NS
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,128343,0.94,1,1,0.79,0.98,1,NaN,SNP,2548
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,102255,0,0,0,0,0,0,NaN,SNP,2548
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,14178,0.93,1,1,0.76,0.98,1,NaN,SNP,2548
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,16362,0.31,0.26,0.32,0.12,0.37,0.57,NaN,INDEL,2548
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,22545,0,0,0,0,0,0,NaN,SNP,2548

# Step 4: Optionally convert numeric fields

In [25]:

for col in df_final.columns:
    df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

/var/folders/10/k9wycjrn20bgyfnk4gcmgvw40000gn/T/ipykernel_85278/3346382442.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_final[col] = pd.to_numeric(df_final[col], errors='ignore')

In [26]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Columns: 125 entries, #CHROM to INFO:NS
dtypes: float64(7), int64(11), object(107)
memory usage: 43.1+ KB

# Show final DataFrame

In [27]:

df_final

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,INFO:DP,INFO:AF,INFO:EAS_AF,INFO:EUR_AF,INFO:AFR_AF,INFO:AMR_AF,INFO:SAS_AF,INFO:EX_TARGET,INFO:VT,INFO:NS
0,16,31180161,.,A,G,.,PASS,AC=4793;AN=5096;DP=128343;AF=0.94;EAS_AF=1;EUR...,GT,1|1,...,128343,0.94,1.00,1.00,0.79,0.98,1.00,NaN,SNP,2548
1,16,31180233,.,T,A,.,PASS,AC=1;AN=5096;DP=102255;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,102255,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
2,16,31180768,.,T,C,.,PASS,AC=4763;AN=5096;DP=14178;AF=0.93;EAS_AF=1;EUR_...,GT,1|1,...,14178,0.93,1.00,1.00,0.76,0.98,1.00,NaN,SNP,2548
3,16,31180918,.,C,CT,.,PASS,AC=1577;AN=5096;DP=16362;AF=0.31;EAS_AF=0.26;E...,GT,0|1,...,16362,0.31,0.26,0.32,0.12,0.37,0.57,NaN,INDEL,2548
4,16,31181853,.,A,G,.,PASS,AC=4;AN=5096;DP=22545;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,22545,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
5,16,31181888,.,A,G,.,PASS,AC=33;AN=5096;DP=21993;AF=0.01;EAS_AF=0.03;EUR...,GT,0|0,...,21993,0.01,0.03,0.00,0.00,0.00,0.00,NaN,SNP,2548
6,16,31182374,.,T,C,.,PASS,AC=1;AN=5096;DP=350372;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,350372,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
7,16,31182621,.,C,A,.,PASS,AC=1420;AN=5096;DP=345856;AF=0.28;EAS_AF=0.25;...,GT,0|1,...,345856,0.28,0.25,0.31,0.03,0.36,0.56,NaN,SNP,2548
8,16,31182925,.,A,C,.,PASS,AC=106;AN=5096;DP=28450;AF=0.02;EAS_AF=0.05;EU...,GT,0|0,...,28450,0.02,0.05,0.01,0.00,0.06,0.00,NaN,SNP,2548
9,16,31183055,.,C,G,.,PASS,AC=1;AN=5096;DP=24460;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,24460,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
10,16,31184205,.,C,T,.,PASS,AC=1;AN=5096;DP=362768;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,362768,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
11,16,31184478,.,CTG,C,.,PASS,AC=1;AN=5096;DP=55948;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,55948,0.00,0.00,0.00,0.00,0.00,0.00,NaN,INDEL,2548
12,16,31184784,.,T,C,.,PASS,AC=1452;AN=5096;DP=91564;AF=0.28;EAS_AF=0.25;E...,GT,0|1,...,91564,0.28,0.25,0.31,0.05,0.36,0.56,NaN,SNP,2548
13,16,31184820,.,GTCTTTTTACTT,G,.,PASS,AC=1450;AN=5096;DP=138461;AF=0.28;EAS_AF=0.25;...,GT,0|1,...,138461,0.28,0.25,0.31,0.05,0.37,0.55,NaN,INDEL,2548
14,16,31184910,.,T,G,.,PASS,AC=4;AN=5096;DP=276346;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,276346,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
15,16,31185088,.,G,A,.,PASS,AC=1;AN=5096;DP=188330;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,188330,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
16,16,31185120,.,C,T,.,PASS,AC=1;AN=5096;DP=191584;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|1,...,191584,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
17,16,31185191,.,A,C,.,PASS,AC=7;AN=5096;DP=175954;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,175954,0.00,0.01,0.00,0.00,0.00,0.00,NaN,SNP,2548
18,16,31185629,.,A,G,.,PASS,AC=1;AN=5096;DP=22694;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|1,...,22694,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
19,16,31185794,.,A,G,.,PASS,AC=1;AN=5096;DP=23302;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,23302,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
20,16,31187217,.,G,T,.,PASS,AC=1;AN=5096;DP=29629;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,29629,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
21,16,31187228,.,T,A,.,PASS,AC=1;AN=5096;DP=29718;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,29718,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
22,16,31188078,.,G,T,.,PASS,AC=5091;AN=5096;DP=26099;AF=1;EAS_AF=1;EUR_AF=...,GT,1|1,...,26099,1.00,1.00,1.00,1.00,1.00,1.00,NaN,SNP,2548
23,16,31188129,.,G,T,.,PASS,AC=6;AN=5096;DP=31901;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,31901,0.00,0.01,0.00,0.00,0.00,0.00,NaN,SNP,2548
24,16,31188697,.,A,C,.,PASS,AC=1;AN=5096;DP=31034;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,31034,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
25,16,31189080,.,A,G,.,PASS,AC=33;AN=5096;DP=306661;AF=0.01;EAS_AF=0.03;EU...,GT,0|0,...,306661,0.01,0.03,0.00,0.00,0.00,0.00,NaN,SNP,2548
26,16,31189393,.,G,A,.,PASS,AC=1;AN=5096;DP=110368;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,110368,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
27,16,31189428,.,T,C,.,PASS,AC=1;AN=5096;DP=84260;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,84260,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
28,16,31190739,.,T,C,.,PASS,AC=1;AN=5096;DP=324646;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,324646,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
29,16,31191377,.,A,T,.,PASS,AC=1;AN=5096;DP=277792;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,277792,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
30,16,31191377,.,AT,A,.,PASS,AC=1131;AN=5096;DP=277792;AF=0.22;EAS_AF=0.15;...,GT,0|0,...,277792,0.22,0.15,0.20,0.26,0.24,0.24,NaN,INDEL,2548
31,16,31191428,.,G,A,.,PASS,AC=1;AN=5096;DP=310799;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,310799,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
32,16,31192117,.,G,A,.,PASS,AC=1;AN=5096;DP=22236;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,22236,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
33,16,31192208,.,G,C,.,PASS,AC=1433;AN=5096;DP=23158;AF=0.28;EAS_AF=0.25;E...,GT,0|1,...,23158,0.28,0.25,0.31,0.04,0.36,0.56,NaN,SNP,2548
34,16,31192348,.,C,T,.,PASS,AC=83;AN=5096;DP=22751;AF=0.02;EAS_AF=0;EUR_AF...,GT,0|0,...,22751,0.02,0.00,0.04,0.00,0.01,0.03,NaN,SNP,2548
35,16,31192527,.,G,A,.,PASS,AC=6;AN=5096;DP=21407;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,21407,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
36,16,31192649,.,C,T,.,PASS,AC=2;AN=5096;DP=22473;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,22473,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
37,16,31192694,.,C,T,.,PASS,AC=1;AN=5096;DP=20194;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,20194,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
38,16,31192724,.,C,G,.,PASS,AC=3;AN=5096;DP=20006;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,20006,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
39,16,31192914,.,T,C,.,PASS,AC=5051;AN=5096;DP=23676;AF=0.99;EAS_AF=1;EUR_...,GT,1|1,...,23676,0.99,1.00,1.00,0.97,1.00,1.00,NaN,SNP,2548
40,16,31193081,.,A,C,.,PASS,AC=2;AN=5096;DP=21713;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,21713,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
41,16,31193803,.,AT,A,.,PASS,AC=18;AN=5096;DP=18884;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,18884,0.00,0.00,0.00,0.00,0.01,0.01,NaN,INDEL,2548
42,16,31194040,.,A,G,.,PASS,AC=1;AN=5096;DP=21798;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,21798,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548
43,16,31194470,.,G,T,.,PASS,AC=1;AN=5096;DP=16656;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,16656,0.00,0.00,0.00,0.00,0.00,0.00,NaN,SNP,2548

In [28]:
df_final.shape

(44, 125)

In [29]:
df_final.to_csv(outfile, index=False)