In [64]:
import pandas as pd

In [65]:
infile = "../vn_data/input/per_gene/SOD1.chr21.txt"

In [66]:
df = pd.read_csv(infile)

In [67]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,0|0,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

In [71]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142', 'HG02512',
       'HG02513', 'HG02521', 'HG02522', 'c00'],
      dtype='object', length=109)

In [68]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is NaN, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [69]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [70]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,21,31660364,.,C,A,.,PASS,AC=1;AN=5096;DP=16003;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
1,21,31660429,.,A,C,.,PASS,AC=4;AN=5096;DP=18626;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,21,31660675,.,C,A,.,PASS,AC=503;AN=5096;DP=21130;AF=0.1;EAS_AF=0;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
3,21,31660688,.,C,G,.,PASS,AC=1159;AN=5096;DP=21437;AF=0.23;EAS_AF=0.52;E...,GT,1|1,...,1|1,1|1,1|0,0|1,1|1,0|1,1|1,0|1,0|0,17
4,21,31660694,.,C,T,.,PASS,AC=1;AN=5096;DP=21630;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98