In [45]:
import pandas as pd

# Load input file in csv format

In [46]:
infile = "../vn_data/input/per_gene/NEFH.chr22.csv"

In [47]:
outfile = "../vn_data/output/per_gene/NEFH.chr22.csv"

In [48]:
df = pd.read_csv(infile)

# Check data frame content

In [49]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,0|0,0|0,1|1,0|0,1|0,1|1,1|1,0|1,1|1,1|0

# Check the columns in the data frame

In [50]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [51]:
df.shape

(62, 108)

# Extract a smaller data frame to debug and manually verify

In [52]:
#df = df.iloc[0:5,0:15]

In [53]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,0|0,0|0,1|1,0|0,1|0,1|1,1|1,0|1,1|1,1|0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,22,29490397,.,C,T,.,PASS,AC=21;AN=5096;DP=275514;AF=0;EAS_AF=0;EUR_AF=0...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
58,22,29490424,.,A,G,.,PASS,AC=4327;AN=5096;DP=283720;AF=0.85;EAS_AF=0.93;...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
59,22,29490904,.,G,T,.,PASS,AC=3717;AN=5096;DP=26275;AF=0.73;EAS_AF=0.87;E...,GT,1|1,...,0|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0|1
60,22,29491193,.,C,T,.,PASS,AC=73;AN=5096;DP=23444;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|1,0|0,0|0,0|1,0|0
61,22,29491197,.,G,C,.,PASS,AC=3719;AN=5096;DP=23492;AF=0.73;EAS_AF=0.87;E...,GT,1|1,...,0|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,0|1

In [54]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [55]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [56]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,0|0,1|1,0|0,1|0,1|1,1|1,0|1,1|1,1|0,12

In [57]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [58]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87,8
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87,8
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,1|1,0|0,1|0,1|1,1|1,0|1,1|1,1|0,12,29

In [59]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [60]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87,8,4
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,87,8,4
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,0|0,1|0,1|1,1|1,0|1,1|1,1|0,12,29,17

In [61]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [62]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2,0
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,87,8,4,0
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,87,8,4,0
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,1|0,1|1,1|1,0|1,1|1,1|0,12,29,17,41

# Create a new column for the count of the number of 1's

In [63]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [64]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,87,8,4,0,12
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,87,8,4,0,12
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,1|1,1|1,0|1,1|1,1|0,12,29,17,41,128

In [65]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,22,29480434,.,G,T,.,PASS,AC=2;AN=5096;DP=17341;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
1,22,29480595,.,C,T,.,PASS,AC=1;AN=5096;DP=27241;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
2,22,29481428,.,C,T,.,PASS,AC=462;AN=5096;DP=18141;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,87,8,4,0,12
3,22,29481568,.,C,T,.,PASS,AC=464;AN=5096;DP=20034;AF=0.09;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,87,8,4,0,12
4,22,29481576,.,A,G,.,PASS,AC=4415;AN=5096;DP=19564;AF=0.87;EAS_AF=0.62;E...,GT,1|1,...,1|1,1|1,0|1,1|1,1|0,12,29,17,41,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,22,29490397,.,C,T,.,PASS,AC=21;AN=5096;DP=275514;AF=0;EAS_AF=0;EUR_AF=0...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
58,22,29490424,.,A,G,.,PASS,AC=4327;AN=5096;DP=283720;AF=0.85;EAS_AF=0.93;...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,5,7,87,186
59,22,29490904,.,G,T,.,PASS,AC=3717;AN=5096;DP=26275;AF=0.73;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,1|1,1|1,0|1,0,9,17,73,172
60,22,29491193,.,C,T,.,PASS,AC=73;AN=5096;DP=23444;AF=0.01;EAS_AF=0.05;EUR...,GT,0|0,...,0|1,0|0,0|0,0|1,0|0,91,2,6,0,8
61,22,29491197,.,G,C,.,PASS,AC=3719;AN=5096;DP=23492;AF=0.73;EAS_AF=0.87;E...,GT,1|1,...,1|1,1|1,1|1,1|1,0|1,0,9,17,73,172

# Save the output file to output folder

In [66]:
df.to_csv(outfile, index=False)