In [23]:
import pandas as pd

# Load input file in csv format

In [24]:
infile = "../vn_data/input/per_gene/TUBA4A.chr2.csv"

In [25]:
outfile = "../vn_data/output/per_gene/TUBA4A.chr2.csv"

In [26]:
df = pd.read_csv(infile)

# Check data frame content

In [27]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0

# Check the columns in the data frame

In [28]:
df.columns

Index(['#CHROM', 'POS', 'ID', 'REF', 'ALT', 'QUAL', 'FILTER', 'INFO', 'FORMAT',
       'HG01595',
       ...
       'HG02137', 'HG02138', 'HG02139', 'HG02140', 'HG02141', 'HG02142',
       'HG02512', 'HG02513', 'HG02521', 'HG02522'],
      dtype='object', length=108)

In [29]:
df.shape

(17, 108)

# Extract a smaller data frame to debug and manually verify

In [30]:
#df = df.iloc[0:5,0:15]

In [31]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02137,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
5,2,219251787,.,G,T,.,PASS,AC=823;AN=5096;DP=139071;AF=0.16;EAS_AF=0.14;E...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
6,2,219251948,.,C,T,.,PASS,AC=6;AN=5096;DP=167252;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
7,2,219252322,.,A,G,.,PASS,AC=265;AN=5096;DP=65576;AF=0.05;EAS_AF=0.09;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
8,2,219252540,.,G,GCA,.,PASS,AC=558;AN=5096;DP=22973;AF=0.11;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
9,2,219252552,.,C,T,.,PASS,AC=1;AN=5096;DP=21642;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
10,2,219252611,.,T,G,.,PASS,AC=3765;AN=5096;DP=24409;AF=0.74;EAS_AF=0.86;E...,GT,1|1,...,1|1,0|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
11,2,219252736,.,G,A,.,PASS,AC=821;AN=5096;DP=41969;AF=0.16;EAS_AF=0.14;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
12,2,219253809,.,G,C,.,PASS,AC=3764;AN=5096;DP=96825;AF=0.74;EAS_AF=0.86;E...,GT,1|1,...,1|1,0|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1
13,2,219254060,.,T,G,.,PASS,AC=979;AN=5096;DP=22867;AF=0.19;EAS_AF=0.14;EU...,GT,0|0,...,0|0,1|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
14,2,219254119,.,C,T,.,PASS,AC=6;AN=5096;DP=21652;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
15,2,219254308,.,C,G,.,PASS,AC=3;AN=5096;DP=17031;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0
16,2,219254636,.,A,C,.,PASS,AC=4818;AN=5096;DP=17975;AF=0.95;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1,1|1

In [32]:
# Function to count substring in a row, looping through all cell in the row
def count_each_row(row, substr):
    count = 0  # first, initialize count to zero
    for cell in row:
        if pd.isna(cell):
            continue # if the cell is None, go to the next cell in the row
        if not isinstance(cell, str):
            continue # if the cell is not a string, go to the next cell in the row
        if cell == substr:
            count = count + 1 # if the cell matches the inpug substring, then increases the count by 1
            
    return count # return the total count

In [33]:
df['c00'] = df.apply(count_each_row, axis=1, substr="0|0")

In [34]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02138,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,98
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97

In [35]:
df['c10'] = df.apply(count_each_row, axis=1, substr="1|0")

In [36]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02139,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98,0
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,1|0,0|0,0|0,98,1
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0

In [37]:
df['c01'] = df.apply(count_each_row, axis=1, substr="0|1")

In [38]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02140,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|1,98,0,1
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,1|0,0|0,0|0,98,1,0
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2

In [39]:
df['c11'] = df.apply(count_each_row, axis=1, substr="1|1")

In [40]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02141,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|1,98,0,1,0
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,1|0,0|0,0|0,98,1,0,0
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,98,1,0,0
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,0|0,97,0,2,0

# Create a new column for the count of the number of 1's

In [41]:
df['c1s'] = df['c10'] + df['c01'] + 2 * df['c11']

In [42]:
df.head()

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,98,0,1,0,1
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,98,1,0,0,1
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2

In [43]:
df

,#CHROM,POS,ID,REF,ALT,QUAL,FILTER,INFO,FORMAT,HG01595,...,HG02142,HG02512,HG02513,HG02521,HG02522,c00,c10,c01,c11,c1s
0,2,219250514,.,G,A,.,PASS,AC=1;AN=5096;DP=460138;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
1,2,219251394,.,A,G,.,PASS,AC=1;AN=5096;DP=160298;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|1,98,0,1,0,1
2,2,219251400,.,C,T,.,PASS,AC=1;AN=5096;DP=158406;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,1|0,0|0,0|0,98,1,0,0,1
3,2,219251598,.,G,A,.,PASS,AC=1;AN=5096;DP=399256;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
4,2,219251616,.,A,G,.,PASS,AC=5;AN=5096;DP=398911;AF=0;EAS_AF=0;EUR_AF=0;...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,97,0,2,0,2
5,2,219251787,.,G,T,.,PASS,AC=823;AN=5096;DP=139071;AF=0.16;EAS_AF=0.14;E...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,77,9,12,1,23
6,2,219251948,.,C,T,.,PASS,AC=6;AN=5096;DP=167252;AF=0;EAS_AF=0.01;EUR_AF...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
7,2,219252322,.,A,G,.,PASS,AC=265;AN=5096;DP=65576;AF=0.05;EAS_AF=0.09;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,85,7,7,0,14
8,2,219252540,.,G,GCA,.,PASS,AC=558;AN=5096;DP=22973;AF=0.11;EAS_AF=0.05;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,91,2,5,1,9
9,2,219252552,.,C,T,.,PASS,AC=1;AN=5096;DP=21642;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,1|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
10,2,219252611,.,T,G,.,PASS,AC=3765;AN=5096;DP=24409;AF=0.74;EAS_AF=0.86;E...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1,12,9,77,175
11,2,219252736,.,G,A,.,PASS,AC=821;AN=5096;DP=41969;AF=0.16;EAS_AF=0.14;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,77,9,12,1,23
12,2,219253809,.,G,C,.,PASS,AC=3764;AN=5096;DP=96825;AF=0.74;EAS_AF=0.86;E...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,1,12,9,77,175
13,2,219254060,.,T,G,.,PASS,AC=979;AN=5096;DP=22867;AF=0.19;EAS_AF=0.14;EU...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,77,9,12,1,23
14,2,219254119,.,C,T,.,PASS,AC=6;AN=5096;DP=21652;AF=0;EAS_AF=0.01;EUR_AF=...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,0,1,0,1
15,2,219254308,.,C,G,.,PASS,AC=3;AN=5096;DP=17031;AF=0;EAS_AF=0;EUR_AF=0;A...,GT,0|0,...,0|0,0|0,0|0,0|0,0|0,98,1,0,0,1
16,2,219254636,.,A,C,.,PASS,AC=4818;AN=5096;DP=17975;AF=0.95;EAS_AF=1;EUR_...,GT,1|1,...,1|1,1|1,1|1,1|1,1|1,0,0,0,99,198

# Save the output file to output folder

In [44]:
df.to_csv(outfile, index=False)